body{
    margin: 0;
    padding: 0;
}

.header{
    background-color: dodgerblue;
    height:100px;  
} 
img{
    background-size:contain;
    background-repeat: repeat;
    height: 100px;
    width: 100%;

}
 