body{
    margin: 0;
    padding: 0;
}

header{
    background-color: dodgerblue;
    height:100px;  
    background-image:url(../img/pattern.png) ;
    background-repeat:repeat-x;
    background-size: auto 200px;
} 

.container{
    width: 1440px;
    margin: auto;
}
 
 .logo{
    width: 200px;
    margin-top: 40px;
 }
 
 h1{
   margin-bottom: 0;
 }